@import 'base/mix';

.pages{
  .edit{
    label{
      @include arial;
      font-size: 1.3em;
    }
    input[type=text], textarea{
      width: 500px;
      font-size: 1.3em;
      padding: 5px;
    }
    .submit{
      padding: 5px;
      font-size: 1.3em;
    }
  }
  .show{
    h2{
      color: blue;
    }
  }
}
  